<form [formGroup]="form">
  <mat-form-field class="full-width" id="name-field">
    <mat-label>Question</mat-label>
    <input
      type="Name"
      formControlName="question"
      placeholder="Ex. Who is better?"
      required="true"
      matInput
    />
  </mat-form-field>

  <div formArrayName="itemList">
    <div *ngFor="let item of itemList.controls; index as i">
      <app-collection-create-card
        [index]="i"
        [formGroup]="itemList.controls[i]"
        (onDelete)="removeItem($event)"
      ></app-collection-create-card>
    </div>
  </div>

  <!-- <div *ngFor="let item of items.controls; index as i">
    <app-collection-create-card [index]="i" [formGroup]="items.controls[i]" (onDelete)="removeItem($event)"></app-collection-create-card>
  </div> -->
  <button id="create-new-item" (click)="addItem()">Add Item</button>

  <button
    id="submit-button"
    type="submit"
    
    (click)="onSubmit()"
  >
    Submit
  </button>
</form>

<div *ngIf="collectionID">
  {{ collectionID }}
  <app-button
    (onClick)="functioncall($event)"
    label="Share this as a quiz!"
  ></app-button>
</div>
