<div id="page-master-container">

  <div style="flex: 1">
    <h1 id="title"><i>{{title}}</i></h1>
  </div>

  <div style="flex: 1">
    <!--- display content of page --->
      <ng-content></ng-content>
  </div>


  <div id="background-container">
    <svg class="svg-class" viewBox="0 0 200 100" preserveAspectRatio="xMinYMax slice"> 
      <path d="M 0 80 Q 25 55 30 75 T 120 50 200 1000 0 1000 Z" stroke="none" stroke-width="1" fill="#d1bcff" />
    </svg>
    <svg class="svg-class" viewBox="0 0 200 100" preserveAspectRatio="xMinYMin slice">
      <!-- <path d="M 0 40 Q 10 20 0 2 T 20 2 80 2 120 4 140 20 170 20 200 -1000 0 -1000 Z" stroke="none" stroke-width="1" fill="#d1bcff" />							   -->
    </svg>
  </div>
    
</div>
