#title {
  // padding: 10px;
  margin: 20px;
}

.header {
  position: sticky;
  background-color: #3b0d9c;
  color: white;
  width: 100%;
  height: 70px;
  text-align: center;
  margin-bottom: 50px;
  object-fit: contain;
  z-index: 1;
}

/* The sticky class is added to the header with JS when it reaches its scroll position */
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

/* Add some top padding to the page content to prevent sudden quick movement (as the header gets a new position at the top of the page (position:fixed and top:0) */
.sticky + .content {
  padding-top: 150px;
}

* {
  margin: 0px;
  padding: 0px;
}

svg {
  position: fixed;
  top: 0;
  left: 0;
  height: 120%;
  width: 100%;
  display: block;
  opacity: 0.5;
  z-index: -1;
}

// .svg-class {
//   height: 100%;
//   width: 100%;
//   position: absolute;
//   display: block;
//   left: 0;
//   top: 0;
//   z-index: -1;
// }

#page-content {
  z-index: 100; // this forces the element to be displayed on top of elements with a smaller z-index. In this case, that would be .svg-class
}

#page-master-container {
  // height: 100%;
  width: 100%;
  flex: 1;
  align-items: center;
  flex-direction: column;
  display: flex;
  justify-content: space-around;
}
