.item-card {
  width: 30%;
  min-width: 600px;
  height: 10%;
  min-height: 300px;
}

.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.full-width {
  width: 100%;
}

.image {
  object-fit: contain;
}

#delete-button {
  margin-left: auto;
  // background-color: lightgrey;
}

#delete-button:hover {
  transition: background-color 0.5s ease;
  background-color: lightgray;
}

.flex {
  display: flex;
  justify-content: center;
  flex-shrink: 3;
  flex-direction: row;
}
