<div class="question-card">
    <div>
        <div>
            <app-image-select-card *ngFor="let choice of choices" imageURL={{choice.imageURL}} name="{{choice.name}}" description="{{choice.description}}"></app-image-select-card>
        </div>
    </div>

    <div>
        <div>
            <button (click)="goBack()">Previous</button>
        </div>
        <div [ngClass]="{'enabled': chosen, 'disabled': !chosen}">
            <button (click)="onNext()">Next</button>
        </div>
    </div>
</div>