<app-page>
  <!-- <p>main-page works! eyoooo</p> -->
  <div class="buttons">
    <a routerLink="/collection">
      <app-button
        (onClick)="functioncall($event)"
        [label]="label1"
      ></app-button>
    </a>
    <a routerLink="/quiz">
      <app-button
        (onClick)="functioncall($event)"
        [label]="label2"
      ></app-button>
    </a>
    <a routerLink="/final">
      <app-button
        (onClick)="functioncall($event)"
        [label]="label3"
      ></app-button>
    </a>
  </div>
</app-page>
