<div class="buttons">
  <a routerLink="/collection">
    <app-button (onClick)="functioncall($event)" [label]="label1"></app-button>
  </a>
</div>

<!-- TODO: Have options to sort showcased collections by date/popularity -->

<!-- <mat-form-field appearance="fill">
  <mat-label>Sort by</mat-label>
  <mat-select (selectionChange)="changeSortingMethod($event)">
    <mat-option value="timestamp">Date Added</mat-option>
    <mat-option value="rankings">Popularity</mat-option>
  </mat-select>
</mat-form-field>

<mat-form-field appearance="fill">
  <mat-label>Direction</mat-label>
  <mat-select (selectionChange)="changeSortingMethod($event)">
    <mat-option value="asc">Ascending</mat-option>
    <mat-option value="desc">Descending</mat-option>
  </mat-select>
</mat-form-field>

<div>
  <mat-paginator
    [length]="100"
    [pageSize]="10"
    [pageSizeOptions]="[5, 10, 25, 100]"
    (page)="pageChanged($event)">
  </mat-paginator>
</div> -->

<!-- TODO: Showcase a list of recent/popular collections that users can directly go to -->
<!-- Currently it displays a bunch of test collections that we were using during development -->

<div *ngIf="collectionGallery" id="showcase">
  <div *ngFor="let item of collectionGallery" class="showcard">
    <app-collection-show-card
      [item]="item"
      (onPressed)="goToQuiz($event)"
    ></app-collection-show-card>
  </div>
</div>
