<mat-card class="item-card">

    <mat-card-header>

      <mat-card-title>{{name === "" ? "New Item" : name}}</mat-card-title>
      
      <button mat-icon-button aria-label="Delete this card" id="delete-button" (click)="delete()">
        <mat-icon>delete</mat-icon>
      </button>

    </mat-card-header>

    <img mat-card-image src={{thing.link}} alt="Photo of a Shiba Inu">
    
    <!--
        Following code is copied from https://stackoverflow.com/questions/31867194/file-upload-with-angular-material
    
    <mat-form-field class="columns">
        <mat-label *ngIf="selectedFiles; else newFile">{{selectedFiles.item(0).name}}</mat-label>
        <ng-template #newFile>
            <mat-label>Choose file</mat-label>
        </ng-template>
        <input matInput disabled>
        <button mat-icon-button matSuffix (click)="fileInput.click()">
            <mat-icon>attach_file</mat-icon>
        </button>
        <input hidden (change)="selectFile($event)" #fileInput type="file" id="file">
    </mat-form-field>
-->

    <mat-card-content>

        <div>

            <mat-form-field class="full-width" id="name-field">
              <mat-label>: {{thing.name}}</mat-label>
              <input type="Name" [(ngModel)]="name" placeholder="Ex. Lord of The Rings" required="true" matInput>
            </mat-form-field>

            <mat-form-field class="full-width" id="description-field">
                <mat-label></mat-label>
                <textarea matInput> {{thing.id}}</textarea>
            </mat-form-field>

        </div>

    </mat-card-content>

  </mat-card>
  
