.item-card {
  width: 30%;
  min-width: 400px;
  height: 10%;
}

.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.full-width {
  width: 100%;
}

#delete-button {
  margin-left: auto;
}
